<template>
  <div>
    <p>{{ msg.message }}</p>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Ping',
  data() {
    return {
      msg: '',
    };
  },
  methods: {
    getMessage() {
    //   const path = '/api/ping';
      axios.get('/api/ping')
        .then((res) => {
          this.msg = res.data;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getMessage();
  },
};
</script>

<style>

</style>